html {
    box-sizing: border-box;
    font-size: 100%;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    position: absolute;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: inherit;
}

.container {
    border-radius: 5px;
    overflow: hidden;
    width: 850px;
    height: 500px;
    display: flex;
    flex-direction: row;
}

img {
    padding-top: 70px;
    padding-left: 40px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    
}

.suv {
    background-color: hsl(184, 100%, 22%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

h2 {
    color: hsl(0, 0%, 95%);
    font-family: Big Shoulders Display;
    padding-left: 40px;
    text-transform: uppercase;
    font-size: 2.375rem;
}

.paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-size: 15px;
    padding-left: 40px;
    padding-right: 30px;
    line-height: 1.6;
}

.learnMore-Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    margin-left: 40px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 100px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    mix-blend-mode: screen;
    text-align: center;
    font-family: Lexend Deca;
    
}

.learnMore-Button:hover {
    background-color: transparent;
    border: 2px hsla(0, 0%, 100%, 0.75) solid;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.attribution {
    font-family: Lexend Deca;
}

/*Im having issues to apply my media query because safari doenst allow to resize its window down to 375px. So Im not able to actually see 
my changes applying to the layout. If some could help me out about this i would be very thankfull.*/

@media  screen and (max-width: 375px) {

    #container {
        display: flex;
        flex-direction: column;
    }
    
}